body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f28;
}
canvas {
    /* border: 1px solid silver; */
    /* border-radius: 20px; */
    display: block;
    width: 100vw;
    height: 100vh;
}